In [1]:
# Importing required libraries.
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline

In [5]:
df = pd.read_csv("Repairs-Data.csv")
# display first 5 rows of dataset
df.head(5)

,Retailer,ShipLocCy,ShipLocName,ShipLocLat,ShipLocLon,ProductCategory,ProductManufacturer,ProductModel,PurchaseDate,ProblemArea,ProblemDescription,RepairOrderType,OrderCreatedDate,OrderCompletedDate,TransportPartner,RepairPartner
0,Euphoria,NO,Oasen Bergen,"60,34896","5,29182",Heliographs,CHOAM,EarPods With Lightning Connector White,NaN,NaN,NaN,In Warranty,2017-03-13 12:25:37,2017-03-16 09:04:43 +01:00,Titanic,Blacksmith
1,Euphoria,NO,Storo Storsenter,"59,94719","10,77277",Heliographs,CHOAM,EarPods With Lightning Connector White,NaN,NaN,NaN,In Warranty,2017-03-24 14:11:26,2017-03-28 11:53:07 +02:00,Titanic,Blacksmith
2,Euphoria,NO,Stovner,"59,9611","10,92619",Heliographs,CHOAM,EarPods With Lightning Connector White,NaN,NaN,NaN,In Warranty,2017-02-27 12:11:34,2017-02-28 09:52:19 +01:00,Titanic,Blacksmith
3,Euphoria,NO,Sandvika,"59,8901103","10,5203809",Heliographs,CHOAM,EarPods With Lightning Connector White,NaN,NaN,Sound-Speaker,In Warranty,2017-02-17 15:51:35,2017-02-20 08:52:45 +01:00,Titanic,Blacksmith
4,Euphoria,NO,Byporten,"59,9115","10,751",Heliographs,CHOAM,Earpods with remote and mic,NaN,NaN,NaN,Return Repair,2017-03-06 09:57:56,2017-03-09 12:48:01 +01:00,Titanic,Blacksmith

In [6]:
# display last 5 rows of dataset
df.tail(5)

,Retailer,ShipLocCy,ShipLocName,ShipLocLat,ShipLocLon,ProductCategory,ProductManufacturer,ProductModel,PurchaseDate,ProblemArea,ProblemDescription,RepairOrderType,OrderCreatedDate,OrderCompletedDate,TransportPartner,RepairPartner
111998,Fremont,EE,VÃµru,"59,5764175","25,9723252",Heliographs,Acme Corp,Soylent LED-View Cover Universe S7 Black,2017-02-06 23:00:00 +01:00,NaN,NaN,Return to Manufacturer,2017-11-23 15:21:16,2017-11-27 12:57:19 +01:00,Yellow Submarine,Shoemaker
111999,Fremont,EE,"Tallinn, LasnamÃ¤e Centrum","59,4404683","24,865593",Heliographs,Acme Corp,Soylent wireless Charger Black,2017-10-03 23:00:00 +02:00,NaN,NaN,Out of Warranty,2017-10-15 14:43:13,2017-10-17 12:56:17 +02:00,Yellow Submarine,Shoemaker
112000,Fremont,EE,"Tallinn, Rocca keskus","59,4247966","24,6498549",Heliographs,Acme Corp,Wireless charger Soylent Universe S6/ Soylent ...,2016-01-25 23:00:00 +01:00,NaN,NaN,Out of Warranty,2017-11-26 15:01:32,2017-11-29 08:25:18 +01:00,Yellow Submarine,Shoemaker
112001,Fremont,EE,"Tallinn, Rocca keskus","59,4247966","24,6498549",Heliographs,Acme Corp,Wireless charger Soylent Universe S6/ Soylent ...,2016-01-25 23:00:00 +01:00,NaN,NaN,Out of Warranty,2017-12-01 08:56:38,2017-12-07 12:40:17 +01:00,Yellow Submarine,Shoemaker
112002,Fremont,EE,"Tallinn, JÃ¤rve keskus","59,3930098","24,7184627",Heliographs,Frobozz Magic Co,Charger Froboss microUSB 2A Black,NaN,NaN,NaN,Return to Manufacturer,2017-11-01 19:04:16,2017-11-06 13:35:59 +01:00,Yellow Submarine,Shoemaker

In [10]:
# Let's check the number of columns and rows this dataset has
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112003 entries, 0 to 112002
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Retailer             112003 non-null  object
 1   ShipLocCy            112003 non-null  object
 2   ShipLocName          112003 non-null  object
 3   ShipLocLat           111997 non-null  object
 4   ShipLocLon           111997 non-null  object
 5   ProductCategory      112003 non-null  object
 6   ProductManufacturer  111951 non-null  object
 7   ProductModel         111920 non-null  object
 8   PurchaseDate         70451 non-null   object
 9   ProblemArea          47251 non-null   object
 10  ProblemDescription   52282 non-null   object
 11  RepairOrderType      112003 non-null  object
 12  OrderCreatedDate     112003 non-null  object
 13  OrderCompletedDate   112003 non-null  object
 14  TransportPartner     111963 non-null  object
 15  RepairPartner        112003 non-null  object
dtypes: object(16)
memory usage: 13.7+ MB

##### Table above shows that this dataset contains of 16 columns and 112 003 rows.

In [7]:
# We have to check the types of data, because sometimes datatypes can be messed up,
# that's why it's important to convert to the right datatypes before we plot the data via a graph.

In [8]:
df.dtypes

Retailer               object
ShipLocCy              object
ShipLocName            object
ShipLocLat             object
ShipLocLon             object
ProductCategory        object
ProductManufacturer    object
ProductModel           object
PurchaseDate           object
ProblemArea            object
ProblemDescription     object
RepairOrderType        object
OrderCreatedDate       object
OrderCompletedDate     object
TransportPartner       object
RepairPartner          object
dtype: object